/* components/Navbar.module.css */

/* Navbar container styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: white;
}

/* Logo styles */
.logo {
  font-size: 1.5rem;
}

/* Hamburger icon styles */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 30px;
  height: 5px;
  background-color: white;
  margin: 3px 0;
}
/* Navigation links styles */
.navLinks {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navLinks li {
  font-size: 1rem;
}

/* Media query for responsive navbar */
@media screen and (max-width: 768px) {
  /* Display the hamburger icon and hide the navigation links */
  .hamburger {
    display: flex;
  }

  .navLinks {
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;
    top: 70px; /* Adjust as needed */
    left: 0;
    background-color: #333;
    width: 100%;
    transform: scaleY(0); /* Initially hidden */
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
  }

  .open {
    transform: scaleY(1); /* Display when open */
  }

  .navLinks li {
    margin: 0;
    text-align: center;
  }
}
